<style type="text/css">
    .page-content {
    background-color: #FDA501;
    }
    .site-footer,
    .site-header,
    .wrapper,
    #mc_embed_signup,
    #mc_embed_signup_scroll,
    #mc-embedded-subscribe-form,
    #clear {
        background-color: #f4f4f4 !important;
    }
    #mc_embed_signup {
        margin: auto;
        text-align: center;
    }
    .button {
        height: 50px !important;
        display: block;
        margin: auto;
        font-size: 20px !important;
        background-color: #2F66A9 !important;
        color: white !important;
    }
</style>